{
    "semi": false,
    "singleQuote": true,
    "tabWidth": 4,
    "trailingComma": "all",
    "arrowParens": "avoid",
    "printWidth": 80,
    "vueIndentScriptAndStyle": false,
    "htmlWhitespaceSensitivity": "ignore"
}
