* {
    box-sizing: border-box;
}

html {
    padding: 0 !important;
    margin: 0 !important;
}

body {
    padding: 32px;
    font-size: 17px;
}

main {
    max-width: 1000px;
    margin: 0 auto;
}

img {
    display: block;
    max-width: 100%;
    margin: 1em auto;
}

h1 {
    text-align: center
}

.w400, .w500, .w600, .w700, .w800, .w900, .w1000 { margin: 0 auto; }
.w400 { max-width: 400px; }
.w500 { max-width: 500px; }
.w600 { max-width: 600px; }
.w700 { max-width: 700px; }
.w800 { max-width: 800px; }
.w900 { max-width: 900px; }

/* form */

.form {
    display: block;
    border: 1px solid #ccc;
    border-radius: 6px;
    padding: 16px
}

.form [type=reset], .form [type=submit] {
    display: block;
    cursor: pointer;
    border-radius: 6px;
    border: none;
    color: #fff;
    width: 100%;
    font-weight: bold;
    padding: 8px;
}

.form [type=reset] {
    background-color: #dc3545;
}

.form [type=submit] {
    background-color: #28a745;
}

.form-field {
    margin-bottom: 1em;
}

.form-field > label {
    display: inline-block;
    margin-bottom: 0.5rem
}

.form-field > input, .form-field > textarea {
    display: block;
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.form-field > input {
    height: calc(1.5em + 0.75rem + 2px);
}

.form-field > textarea {
    resize: vertical;
    overflow: auto;
}

.form-field > input:focus, .form-field > textarea:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-buttons {
    display: flex;
    grid-gap: 10px;
    justify-content: space-between;
}

/* alert */

.alert {
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
}

.alert .dismiss {
    position: absolute;
    top: 0;
    right: 0;
    color: inherit;
    border: 0;
    margin: 5px;
    font-size: 1.5em;
    border-radius: 5px;
    line-height: 1;
    -webkit-appearance: none;
    cursor: pointer;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
    padding: 32px;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-danger ul {
    padding: 0;
    margin: 0;
    margin-left: 1em;
}

.alert-danger button {
    background: #c21c24;
}

.alert-danger button:hover {
    color: #f8d7da;
}
